version: '3.7'

services:
  asterisk:
    container_name: asterisk-webrtc
    image: asterisk/webrtc:latest
    #expose:
    # - 443
    # - 80
    ports:
     #### If you aren't using a reverse proxy
     #- 80:80
     #### If you want SSL Support and not using a reverse proxy
     - 5060:5060
     - 5160:5160
     - 18000-18100:18000-18100/udp
     #- 8088:8088
     #- 8089:8089
    ##volumes:
     ## - ./certs:/certs
     ## - ./data:/data
     ## - ./logs:/var/log
     ## - ./data/www:/var/www/html
     ### Only Enable this option below if you set DB_EMBEDDED=TRUE
     #- ./db:/var/lib/mysql##

    environment: 
      - VIRTUAL_HOST=pbx.zimteste.serpro.gov.br
      - VIRTUAL_NETWORK=net
     ### If you want to connect to the SSL Enabled Container 
      #- VIRTUAL_PORT=443
      - VIRTUAL_PROTO=https
      - VIRTUAL_PORT=8089
      - LETSENCRYPT_HOST=pbx.zimteste.serpro.gov.br
      - LETSENCRYPT_EMAIL=tiago.ribeiro@serpro.gov.br
      - IP_DOCKER=

      #- ZABBIX_HOSTNAME=freepbx-app
      #- ENABLE_FAIL2BAN=FALSE
      - RTP_START=18000
      - RTP_FINISH=18100
    
     ## Use for External MySQL Server
     #- DB_EMBEDDED=FALSE

     ### These are only necessary if DB_EMBEDDED=FALSE
      #- DB_HOST=freepbx-db
      #- DB_PORT=3306
      #- DB_NAME=asterisk
      #- DB_USER=asterisk
      #- DB_PASS=asteriskpass
    
     ### If you are using TLS Support for Apache to listen on 443 in the container drop them in /certs and set these:
     #- TLS_CERT=cert.pem
     #- TLS_KEY=key.pem
     
    restart: always
    networks:
      - asterisk
      - net
          ipv4_address: 172.23.0.3

    ### These final lines are for Fail2ban. If you don't want, comment and also add ENABLE_FAIL2BAN=FALSE to your environment
    #cap_add:
    #  - NET_ADMIN
    #privileged: true

networks:
  net:
    external: true
       ipam:
         driver: default
         config:
           - subnet: "172.23.0.0/24"    
  asterisk:
    internal: true    